📡 <b>قطعـی‌های فعال و پیشِ‌رو برای مانیتورهایت:</b>
{{- if not .events }}
هنوز قطعی‌ای پیدا نشده. 😌
{{- else }}
{{- range $e := .events }}
---
🏙️ <b>{{ $e.City }}</b> — {{ $e.Address }}
🗓️ {{ $e.Start | relDate }}، {{ $e.Start | jFormat "2006/01/02" | fanum }}
⏰ از {{ $e.StartClock }}{{ $e.Start | jFormat "15:04" | fanum }} تا {{ $e.EndClock }}{{ $e.End | jFormat "15:04" | fanum }}
{{- end }}
{{- end }}
