🛎️ <b>قطعـی برق جدیدی اطراف‌ت پیدا شد:</b>
🏙️ شهر: {{ .event.City }}
📍 آدرس: {{ .event.Address }}
🗓️ روز: {{ .event.Start | relDate }}
⏰ ساعت: {{ .event.StartClock }}{{ .event.Start | jFormat "15:04" | fanum }} تا {{ .event.EndClock }}{{ .event.End | jFormat "15:04" | fanum }}
{{- if .weather }}
🌤️ وضعیت هوا: {{ .weather }}
{{- end }}
