🤖 راهنمای بات اطلاع‌رسانی قطعی برق ساری

این بات برای پیگیری قطعی برق در ساری طراحی شده. با دستورات زیر می‌تونی از وضعیت برق مطلع بشی:

👂🏿 /listen بخش_از_آدرس | regex (مانیتور)
با این دستور، هر وقت آدرسی که دادی در اطلاعات جدید پیدا بشه، بات بهت خبر میده. همچنین ۱۰ دقیقه قبل از زمان اعلام‌شده، یه نوتیف دیگه هم می‌فرسته.

🔎 /search بخش_از_آدرس | regex (جست و جو)
با این دستور، توی اطلاعات موجود جستجو می‌کنم ببینم چیزی مطابق آدرست هست یا نه.

📋 /get_all
همه آدرس‌هایی که با /listen اضافه کردی رو بررسی می‌کنم و اگه قطعی براشون باشه، بهت خبر میدم.

❌ /delete متن دقیق جولوی /listen
با این دستور یه آدرس خاص رو از لیست نظارتت حذف می‌کنی و دیگه برات گزارشی ازش نمی‌فرستم.

🗑 /reset yes
با این دستور تمای آدرس های توی لیستت پاک میشه و در پیام بعدی لاین به لاین برات ارسال میشه.



📍 راهنمای پیدا کردن آدرس دقیق برای مانیتورینگ:
برای اینکه بدونی توی کدوم ناحیه قرار می‌گیری و بتونی از قطعی برق اون‌جا مطلع بشی:
وارد این لینک شو:
https://khamooshi.maztozi.ir/

تیک گزینه "مکان" رو بزن.
از لیست شهرستان، "ساری" رو انتخاب کن.
دکمه جستجو رو بزن.
(نیازی به پر کردن بقیه فیلدها نیست.)

آدرس مورد نظر رو کپی کن و با یکی از دستورات بات (مثل جست و جو یا مانیتور) استفاده کن.