🤖 راهنمای بات اطلاع‌رسانی قطعی برق ساری

این بات برای پیگیری قطعی برق در ساری طراحی شده. با این دستورها می‌تونی از وضعیت برق مطلع بشی:

🔎 /search بخش_از_آدرس
توی اطلاعات موجود جستجو می‌کنه و اگر نتیجه‌ای پیدا بشه، دکمه‌های مانیتور هم نمایش می‌ده.

❓ /help
همین راهنما رو دوباره نشان می‌دهد.

ℹ️ /version
نسخه‌ی فعلی برنامه را نمایش می‌دهد.

بعد از اجرای /search، روی یکی از دکمه‌های شهر بزن تا همان ترکیب شهر و آدرس برایت مانیتور شود.

📍 راهنمای پیدا کردن آدرس دقیق:
برای اینکه بدونی توی کدوم ناحیه قرار می‌گیری و بتونی از قطعی برق اون‌جا مطلع بشی:
وارد این لینک شو:
https://outage.dornicafile.ir/

تیک گزینه "مکان" رو بزن.
از لیست شهرستان، "ساری" رو انتخاب کن.
دکمه جستجو رو بزن.
(نیازی به پر کردن بقیه فیلدها نیست.)
