🤖 موارد یافت شده: {{ .results | len | int | fanum }}
{{- range $i, $e := .results }}

🗓 <b>{{ $e.Start | relDate }}</b> {{ $e.Start | jFormat "%w %Y/%m/%d %B" | fanum }}
⏰ <b>{{ $e.StartClock }}{{ $e.Start | jFormat "%R" | fanum }}</b> تا <b>{{ $e.EndClock }}{{ $e.End | jFormat "%R" | fanum }}</b>
🏠 <b>{{ $e.City }}</b> - {{ $e.Address }}
{{- end }}

📌 توضیحات: برای اینکه از قطعی با خبر بشی شهر مورد نظرت رو از لیست زیر انتخاب بکن.